<%- include("header")-%>

<h2>This is the about Page</h2>
<p>shjdkfgshjdgfhjsfghjksdfj hgjhs sdfghshj jhd sf sfsjkflddfkl[asfiuljkl alfh jksdfhayhriuty jafj  jkh gjadfhgajgh dafglhdafg [ </p>

<%- include("footer") -%>

